<div class="starter-template">
  <p></p>
  <p class="lead">Some people started singing it not knowing what it was</p>
  <%= image_tag "ladywithpuppets.jpg" %>
  <p></p>
  <%= link_to 'Next >>', verse_4_path %>
</div>
